/* *{
    padding: 0;
    margin:0
}

body{
    background-color:aliceblue;
}
.todos{
    margin-bottom: 4rem;
}

.todos li{
    background-color: white;
    margin-bottom: 1rem;
    padding:1.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.todos li div{
    display: flex;
    align-items: center;
    gap:.65rem;
}


.todos li.complete{
    background-color: var(--color-disabled);
    text-decoration: line-through;
    color: var(--color-text-disabled);
}

input[type='checkbox']{
    appearance: none;
    background-color: transparent;
    margin: 0;
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid ;
    border-radius: 100%;
    display: grid;
    place-content: center;
}

input[type="checkbox"]::before{
 content:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewBox='0 0 24 24'%3E%3Cpath d='M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z'/%3E%3C/svg%3E");
 transform: scale(0);
 transition: .2s ease-in-out;
 -webkit-transition: .2s ease-in-out;
 -moz-transition: .2s ease-in-out;
 -ms-transition: .2s ease-in-out;
 -o-transition: .2s ease-in-out;
}

input[type="checkbox"]:checked{
    background-color:red;
    
}
input[type="checkbox"]:checked::before{
    transform:scale(1);
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1);
    -o-transform:scale(1);
}
.todos li button{
    border: 0;
    padding: .25rem;
    display: grid;
    place-content: center;
    background-color: transparent;
}

.todos li button i{
    width: 5rem;
    height: 5rem;
}

.todos li span{
    padding: 2px;
    border-radius: 6px;

    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.todos li span:focus{
    background-color: aliceblue;
    outline: none;
}

.todos li span[contenteditable]:hover{
    background-color: burlywood;
} */


.main-container{
    max-width: 700px;
    border: 2px solid; 
    padding: 20px;
    margin-left: 400px;
    align-content: center;
}
.main-container input{
    max-width: 900px;
    height: 30px;
}